:root {
    --sidebar-colour: rgb(70, 155, 246);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 200px 2fr;
}

.icon {
    width: 20px;
}

.selfie {
    border-radius: 50%;
}

/* Header Section */

.header-container {
    /* border: 2px solid red; */
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    box-shadow: 0 5px 20px 0 gray; 
}

    /* Search Section */
#search-section {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

#search-bar {
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    border: none;
}

#big-selfie {
    width: 60px;
    height: 60px;
}

    /* User Section */
#user-section {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#small-selfie {
    width: 40px;
    height: 40px;
}

#user-section h3 {
    /* font-size: 0.75rem; */
    text-wrap: nowrap;
}

    /* Welcome User Section */
#welcome-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-wrap: nowrap;
    font-size: 0.75rem;
}

#welcome-user h2 {
    margin-top: 0.25rem;
}

    /* Nav Section */
#user-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

#user-nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#user-nav ul li {
    background-color: var(--sidebar-colour);
    color: white;
    font-size: 0.9rem;
    padding: 0.3em;
    text-align: center;
    border-radius: 20px;
    width: 80px;
}

/* Sidebar Section */

.sidebar-container {
    /* border: 2px solid red; */
    background-color: var(--sidebar-colour);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    font-size: 0.75rem;
}

#title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#logo-icon {
    width: 30px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Main Section */

.main-container {
    /* border: 2px solid red; */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 250px;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    /* justify-items: center; */
}

    /* Projects Section */
#projects {
    /* border: 1px solid blue; */
    grid-row: span 2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#projects h4 {
    margin-bottom: 1rem;
}

#article-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.article-card {
    background-color: white;
    font-size: 0.9rem;
    padding: 1rem;
    width: 300px;
    height: 160px;
    border-radius: 5px;
    border-left: 10px solid lightcoral;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.article-card p {
    font-size: 0.7rem;
    color: gray;
}

.article-buttons {
    /* align-self: flex-end; */
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
}

    /* Announcement Section */
#announcements {
    /* border: 1px solid blue; */
    
}

#announcements h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

#announcement-articles {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcement-article-card {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

#announcement-articles p {
    color: gray;
    margin-top: 0.5rem;
}

    /* Trending Section */
#trending {
    /* border: 1px solid blue; */
    margin-top: 1rem;
}

#trending h3 {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.trending-user {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trending-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending-user-info p {
    color: gray;
}